{% extends "base.html" %}

{% block title %}Countries{% endblock %}

{% block content %}
<div class="container mx-auto py-4">
    <h2 class="text-2xl font-bold">Countries</h2>
    {% if countries %}
        <ul class="list-group">
            {% for country in countries.response %} <!-- response anahtarını ekledik -->
                <li class="list-group-item py-2">
                    <a href="{{ url_for('get_country_leagues', country_name=country.name) }}" class="text-blue-600 hover:underline">{{ country.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-red-500">No countries found.</p>
    {% endif %}
</div>
{% endblock %}
