{% extends "base.html" %}

{% block title %}{{ country_name }} Current Season Leagues{% endblock %}

{% block content %}
<div class="container py-4">
    <h2 class="h4 fw-bold py-4">{{ country_name }} Current Season Leagues</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">League Name</th>
                <th scope="col">League Type</th>
                <th scope="col">Season</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Current Season</th>
            </tr>
        </thead>
        <tbody>
            {% for league in leagues %}
                <tr>
                    <td>{{ league.league.name }}</td>
                    <td>{{ league.league.type }}</td>
                    <td>{{ league.seasons[0].year }}</td>
                    <td>{{ league.seasons[0].start }}</td>
                    <td>{{ league.seasons[0].end }}</td>
                    <td>{{ 'Yes' if league.seasons[0].current else 'No' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}