<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Yerel Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Welcome to the Home Page!</h1>
    </div>

    <!-- Yerel Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
</body>
</html>