{% extends "base.html" %}

{% block title %}League Dashboard - {{ league_info.league.name }}{% endblock %}

{% block content %}
    <div class="container py-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="h4 fw-bold">League Details - {{ league_info.league.name }}</h2>
            <!-- Button to view fixtures for the league -->
            <a href="/seasons/{{ season }}/{{ league_info.league.id }}/fixtures" class="btn btn-primary">View Fixtures</a>
        </div>

        <!-- League Information -->
        <h6 class="text-muted fw-bold" style="font-size: 0.875rem;">League Information</h6>
        <p class="text-muted mt-2" style="font-size: 0.875rem;">
            <strong>League ID:</strong> {{ league_info.league.id }} |
            <strong>Name:</strong> {{ league_info.league.name }} |
            <strong>Type:</strong> {{ league_info.league.type }} |
            <strong>Start Date:</strong> {{ league_info.seasons[0].start }} |
            <strong>End Date:</strong> {{ league_info.seasons[0].end }}
        </p>

        <!-- Coverage Information -->
        <h6 class="text-muted fw-bold" style="font-size: 0.875rem;">Coverage Information</h6>
        <p class="text-muted mt-2" style="font-size: 0.875rem;">
            <strong>Fixtures:</strong> {{ league_info.seasons[0].coverage.fixtures.events }} |
            <strong>Lineups:</strong> {{ league_info.seasons[0].coverage.fixtures.lineups }} |
            <strong>Statistics (Fixtures):</strong> {{ league_info.seasons[0].coverage.fixtures.statistics_fixtures }} |
            <strong>Injuries:</strong> {{ league_info.seasons[0].coverage.injuries }} |
            <strong>Standings:</strong> {{ league_info.seasons[0].coverage.standings }}
        </p>
    </div>
{% endblock %}
